/*                 SnipX Main Styles                */
/* ................................................ */
/* This is the main stylesheet. All styles are added
through this single file. The other files just help
with organizing project variables. */
/* ................................................ */
/*                 SnipX Body <body>                */
/* ................................................ */
#snipx-body {
    width: var(--snipx-body-width);
    height: var(--snipx-body-height);
    background: var(--snipx-body-background);
}
/* ................................................ */
/*               SnipX Header <header>              */
/* ................................................ */
#snipx-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--snipx-header-height);
    padding: var(--snipx-header-padding);
    background: var(--snipx-header-background);
}
#snipx-header-title {
    font-family: var(--snipx-header-title-family);
    font-weight: var(--snipx-header-title-weight);
    font-size: var(--snipx-header-title-size);
    color: var(--snipx-header-title-color);
}
#snipx-header-icons span {
    cursor: pointer;
    padding: var(--snipx-header-icons-padding);
    color: var(--snipx-header-icons-color);
    font-size: var(--snipx-header-icons-size);
}
#snipx-header-settings-icon { padding-right: 10px; }
/* ................................................ */
/*                SnipX Editor <main>               */
/* ................................................ */
/* #snipx-editor {
display: none;
} */
#snipx-editor-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background: orange;
}
#snipx-editor-menu-left {
    display: flex;
    align-items: center;
}
#snipx-editor-menu-select {
    background: red;
    border: 0;
    outline: 0;
    padding: 7.2px;
    font-family: var(--snipx-header-title-family);
    appearance: none;
    text-align: center;
/* font-weight: bold; */
}
#snipx-editor-menu-actions span {
    font-size: 18px;
    padding: 0;
/* outline: 1px solid green; */
}
#snipx-editor-menu-tablink {
    font-size: 12px;
    /* font-weight: bold; */
    padding: 18px;
    font-family: var(--snipx-header-title-family);
}

#snipx-editor-menu-right {
    display: flex;
    align-items: center;
}
#snipx-editor-menu-right button {
    border: 0;
    background: white;
    cursor: pointer;
    /* outline: 1px solid red; */
    padding: 8px;
    font-size: 11px;
    /* font-weight: bold; */
    font-family: var(--snipx-header-title-family);
}
.snipx-editor-textarea {
    background: transparent;
    min-width: var(--snipx-body-width);
    max-width: var(--snipx-body-width);
    height: 490px;
    border: 0;
    resize: none;
    color: #cccccc;
}
#snipx-editor-textarea:focus { outline: 0; }
/* ................................................ */
/*               SnipX Settings <main>              */
/* ................................................ */
#snipx-settings {
    display: none;
}