/*                 SnipX Dark Theme                 */
/* ................................................ */
/* Import All CSS Files into the Theme file. */
/* Load the users prefered theme on page load. */
@import url('reset.css');
@import url('config.css');
@import url('styles.css');
/* ................................................ */
/* Theme Colors */
:root {
    --snipx-body-background-theme: #e7e9eb;
    --snipx-header-background-theme: #cccccc;
    --snipx-header-title-theme: #292d3e;
    --snipx-header-icons-theme: #292d3e;
}