/*                 SnipX Dark Theme                 */
/* ................................................ */
/* Centralize important theme specific variables. */
/* Import All CSS Files into the Theme file. */
/* Load the users prefered theme on page load. */
/* ................................................ */
@import url('reset.css');
@import url('config.css');
@import url('styles.css');
/* ................................................ */
/* Custom Properties */
:root {
    --snipx-body-background-theme: #292d3e;
    --snipx-header-background-theme: #1b1e2b;
    --snipx-header-title-theme: #cccccc;
    --snipx-header-icons-theme: #cccccc;
}