/* Simple reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    background: inherit;
    list-style-type: none;
}
.material-icons {
    color: white;
}
/* Custom properties */
:root {
    --width: 480px;
    --height: 580px;

    /* set font variables here */
    
    /* set dark theme variables here */
    --color-dark1: gray;
}

/* Main Styles */
body {
    width: var(--width);
    height: var(--height);
    background: var(--color-dark1);
}

/* Header */
#header, 
#header div, 
#editor_menu, 
#editor_actions {
    display: flex;
    align-items: center;
}
#header, 
#editor_menu {
    justify-content: space-between;
}
#header {
    background: black;
}
#header_title {
    font-size: 20px;
    color: blue;
}
/* Sections */
section, 
textarea {
    display: none;
}
#editor_menu {
    width: 100%;
    background: red;
}
#editor_actions {
    outline: 1px solid lime;
}
#editor_events {
    outline: 1px solid lime;
}
#editor_page {
    /* display: block !important; */
}