/* Simple reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    background: inherit;
    list-style-type: none;
}
.material-icons {
    color: white;
    cursor: pointer;
}
/* Custom properties */
:root {
    --width: 480px;
    --height: 580px;

    /* set font variables here */
    
    /* set dark theme variables here */
    --color-dark1: gray;
}

/* Main Styles */
body {
    width: var(--width);
    height: var(--height);
    background: var(--color-dark1);
}

/* Header */
#header, 
#header div, 
#editor_menu, 
#editor_actions {
    display: flex;
    align-items: center;
}
#header, 
#editor_menu {
    justify-content: space-between;
}
#header {
    height: 60px;
    background: black;
}
#header_title {
    font-size: 20px;
    color: blue;
    cursor: pointer;
}
/* Sections */
section, 
textarea {
    display: none;
}
#editor_menu {
    width: 100%;
    height: 30px;
    background: red;
}
#editor_type {
    font-size: 14px;
    cursor: pointer;
}
#editor_actions {
    outline: 1px solid lime;
}
#editor_events {
    /* padding: 4px; */
    /* outline: 1px solid lime; */
}
#editor_events a {
    font-size: 14px;
    cursor: pointer;    
    text-decoration: underline;
    padding: 5px;
    outline: 1px solid lime;
}
.editor {
    padding: 8px;
    font-size: 14px;
    font-family: Consolas, 'Courier New', monospace;
    background: black;
    width: 480px;
    height: 400px;
    border: 0;
    resize: none;
    color: #cccccc;
}