:root {
    /* Color */
    --color-primary: #eee;
    --color-secondary: #fff;
    --color-text: #292d3e;
    --color-hover: #ccc;

    /* Font */
    --fontfamily-primary: Arial;
    --fontfamily-seconadry: serif;
    --fontfamily-editor: monospace;

    --fontsize-icon: 21px;
    --fontsize-logo: 20px;
    --fontsize-text: 16px;
    --fontsize-link: 14px;
    --fontsize-menu-button: 11px;

    --fontweight-bold: 600;

    /* Border */
    --border-radius: 4px;
    --border: 1px solid grey;
    --border-alt: 1px solid grey;
    
    /* Spacing */
    --padding-select: 2px;
    --padding-icon: 6px;
    --padding-button: 6px 12px;
    --padding-button-alt: 4px 9px;
    --padding-container: 10px;
    --padding-editor: 16px;
    --padding-editor-menu: 6px 16px;
}